*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Work Sans";
}

h1 {
  font-size: 40px;
  font-weight: 700;
}

h3 {
  width: 85%;
  font-weight: 600;
}

p {
  font-size: 16px;
  font-weight: 400;
  color: #8c6991;
  line-height: 20px;
}

hr {
  height: 2px;
  border: none;
  background-color: #e2e2e25c;
}

.pattern {
  width: 100%;
  height: 30vh;
  background-image: url("assets/images/background-pattern-mobile.svg");
  background-size: cover;
}

.colored-bg {
  background-color: #f9f0ff;
  position: relative;
  height: auto;
}

.header {
  display: flex;
  gap: 12px;
}

.card {
  background-color: #ffffff;
  width: 340px;
  margin: 0 auto;
  border-radius: 10px;
  height: auto;
  padding: 1em;

  transform: translateY(-14%);
}

.question:focus {
  outline: 0.5px solid #2f1533;
  padding: 4px;
}

.ques {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.ques:hover {
  color: #ad50e5;
}

.icon-toggle {
  width: 35px;
  cursor: pointer;
}

.ques-ans {
  visibility: hidden;
  max-height: 0;
}

.ques-ans--visible {
  visibility: visible;
  max-height: 200px;
}

@media (min-width: 440px) {
  .pattern {
    background-image: url("./assets/images/background-pattern-desktop.svg");
    background-size: cover;
    height: 37vh;
  }

  .card {
    width: 400px;
  }
}
@media (min-width: 1440px) {
  .pattern {
    background-image: url("./assets/images/background-pattern-desktop.svg");
    background-size: cover;
    height: 37vh;
  }

  .colored-bg {
    height: 100vh;
  }
  .card {
    width: 600px;
    transform: translateY(-25%);
  }
}
